.image-941-icon {
  position: absolute;
  top: 245px;
  left: 1247px;
  width: 1626px;
  height: 899px;
  object-fit: cover;
}
.mohamad-khosravi-d54wbtjedog-u-icon,
.mohamad-khosravi-ygj9vfuwyug-u-icon {
  position: absolute;
  top: 245px;
  left: 2830px;
  width: 634px;
  height: 899px;
  object-fit: cover;
}
.mohamad-khosravi-ygj9vfuwyug-u-icon {
  left: 3507px;
  width: 636px;
}
.button3 {
  position: absolute;
  height: 29.38%;
  width: 100%;
  top: 33.75%;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-button-prime2 {
  position: absolute;
  top: 0;
  left: 1077.3px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 386.7px;
  height: 48px;
}
.careers2,
.support2 {
  top: 0;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.support2 {
  position: absolute;
  left: 784.5px;
  width: 198.9px;
  height: 22.1px;
}
.careers2 {
  left: 486.2px;
  width: 174px;
}
.about2,
.blog2,
.careers2,
.menu2 {
  position: absolute;
  height: 23px;
}
.blog2 {
  top: 0;
  left: 254.1px;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  width: 110.5px;
}
.about2,
.menu2 {
  left: 0;
}
.about2 {
  top: 0;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  width: 149.2px;
}
.menu2 {
  top: 14.4px;
  width: 983.4px;
  color: var(--primary);
}
.header-menu2 {
  position: absolute;
  top: 55px;
  left: 2679px;
  width: 1464px;
  height: 48px;
}
.subscribe2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.largenormaljustifyactive2 {
  position: absolute;
  top: 160px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--blue-blue-70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
  font-size: var(--paragraph-medium-14-size);
}
.container2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--z-white-fff);
  border: 1px solid var(--blue-blue-50);
  box-sizing: border-box;
  width: 296px;
  height: 56px;
}
.enter-your-email2 {
  position: absolute;
  top: 16px;
  left: 16px;
  line-height: 150%;
}
.form2 {
  top: 32px;
  width: 296px;
  height: 56px;
}
.email5,
.form2,
.your-email2 {
  position: absolute;
  left: 0;
}
.your-email2 {
  top: 0;
  line-height: 150%;
  color: var(--black-black-30);
}
.email5 {
  top: 48px;
  width: 296px;
  height: 88px;
  color: var(--black-black-10);
}
.join-a-newsletter2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-family: var(--headings-bold-16);
  color: var(--blue-blue-70);
}
.section-042 {
  position: absolute;
  top: 88px;
  left: 3124px;
  width: 296px;
  height: 213px;
}
.lorem-ipsum-dolor2 {
  margin: 0;
}
.lorem-ipsum-dolor-container2 {
  position: absolute;
  top: 64px;
  left: 0;
  line-height: 150%;
  color: var(--black-black-30);
}
.twitter-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--blue-blue-70);
  width: 40px;
  height: 40px;
}
.tw2 {
  top: 8px;
  left: 9px;
  line-height: 150%;
}
.ig2,
.tw2,
.twitter2 {
  position: absolute;
}
.twitter2 {
  top: 0;
  left: 399px;
  width: 40px;
  height: 40px;
}
.ig2 {
  top: 8px;
  left: 13px;
  line-height: 150%;
}
.instagram2 {
  position: absolute;
  top: 0;
  left: 343px;
  width: 40px;
  height: 40px;
}
.be2 {
  top: 8px;
  left: 11px;
  line-height: 150%;
}
.be2,
.behance2,
.dr2 {
  position: absolute;
}
.behance2 {
  top: 0;
  left: 56px;
  width: 40px;
  height: 40px;
}
.dr2 {
  top: 8px;
  left: 12px;
  line-height: 150%;
}
.dribbble2,
.section-032 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.section-032 {
  top: 88px;
  left: 2118px;
  width: 439px;
  height: 136px;
}
.div3 {
  position: absolute;
  top: 1px;
  left: 40px;
  line-height: 150%;
}
.communication-call2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.address2,
.email6,
.phone2,
.section-022 {
  position: absolute;
  top: 165px;
  left: 0;
  width: 161px;
  height: 25px;
}
.address2,
.email6,
.section-022 {
  top: 117px;
  width: 194px;
}
.address2,
.section-022 {
  top: 48px;
  width: 222px;
  height: 49px;
}
.section-022 {
  top: 88px;
  left: 1111px;
  height: 190px;
  color: var(--black-black-30);
}
.copyright-satyam-studio2,
.ourstudio-is-a-container2 {
  position: absolute;
  top: 272px;
  left: 104px;
  line-height: 150%;
  color: var(--black-black-70);
}
.ourstudio-is-a-container2 {
  top: 136px;
  color: var(--black-black-30);
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 100%;
  width: 92.31%;
  top: 0;
  right: 7.69%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  width: 20.91%;
  right: 79.09%;
}
.satyamstudio2 {
  position: absolute;
  top: 27.04%;
  left: 25.87%;
  line-height: 22px;
}
.group2 {
  position: absolute;
  height: 54.82%;
  width: 100%;
  top: 22.68%;
  right: 0;
  bottom: 22.5%;
  left: 0;
}
.dummy-logo042 {
  position: absolute;
  top: 64px;
  left: 104px;
  width: 143px;
  height: 56px;
  overflow: hidden;
  color: var(--blue-blue-70);
  font-family: var(--headings-bold-16);
}
.footerseawire-footer-082 {
  position: absolute;
  top: 1286px;
  left: 0;
  background-color: var(--white-white-20);
  width: 4219px;
  height: 416px;
  overflow: hidden;
  text-align: left;
  font-family: var(--menu-16px-regular);
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--z-white-fff);
  height: 1702px;
  text-align: center;
  font-size: var(--menu-16px-regular-size);
  color: var(--z-white-fff);
  font-family: var(--button);
}
