body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --headings-bold-16: Raleway;
  --menu-16px-regular: Roboto;
  --button: "Open Sans";
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-volkhov: Volkhov;
  --font-digital-numbers: "Digital Numbers";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --menu-16px-regular-size: 16px;
  --paragraph-medium-14-size: 14px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-168xl: 187px;
  --font-size-109xl: 128px;
  --font-size-9xl: 28px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Colors */
  --z-white-fff: #fff;
  --white-white-20: #f8f9fa;
  --blue-blue-70: #3a86ff;
  --black-black-30: #77808b;
  --color-darkslategray-100: #484848;
  --black-black-70: #283646;
  --black-black-10: #a2a9b0;
  --blue-blue-50: #76aeff;
  --primary: #299efe;
  --color-black: #000;
  --color-snow-100: #fff9f9;
  --color-gray-100: #fafafa;
  --color-gray-200: #8a8a8a;
  --color-gainsboro: #d9d9d9;
  --color-tomato: #ff4646;

  /* Paddings */
  --padding-base: 16px;
  --padding-29xl: 48px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-21xl: 40px;
  --br-3xs: 10px;
  --br-9xs: 4px;
}
